.pricing{
    background-color: #e5e5e5;
}

.pricing-height {
    margin-bottom: 68px;
}

.pricing-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* row-gap: 40px; */
    margin: 0 -15px;
}

.pricing-card {
    transition: all 0.4s ease-in;
    width: 340px;
    margin: 0 15px;
}

.pricing-card--item {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #86878b;
    background-color: #fff;
    transition: all 0.2s ease-in;
    padding: 10px 0;
    margin-bottom: 4px;
}

.pricing-card--item:hover {
    transform: translate(-2px, -2px);
    box-shadow: -8px -8px 3px -6px rgba(34, 60, 80, 0.5) inset;
}

.pricing-card--item:last-child {
    margin-bottom: 0px;
}

.pricing-card--tarif {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    padding: 12px 0px;
    background: #333333;
    color: #ffffff;
}

.pricing-card--cost {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    padding: 29px 0px;
    background: #333333;
    color: #ffffff;
}

.pricing-card--info {
    font-weight: 600;
    padding: 16px 0;
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 4px;
}
